@charset "UTF-8";
/* CSS Document */

#mainimage {
	height: 200px;
}

#shuetsubox {
	margin: 0;
}

.whitebox {
	margin: 50px 0;
}

#shuetsutaiShokai {
	padding: 20px 40px;
}

#shuetsutaiShokai h1 {
	font-size: 30px;
	margin-bottom: 20px;
}

#shuetsutaiShokai h1 img {
	height: 30px;
}

#shuetsutaiShokai figure img {
	width: 100%;
}

#tanjo,#kodawari {
	margin: 20px 0;
}

#tanjo {
	border-bottom: 4px solid #f4d225;
	padding-bottom: 20px;
}

.rightTopic {
	width: 300px;
	float: left;
	margin: 0 20px 20px 0;
}

.caption {
	font-size: 12px;
}

figcaption {
	letter-spacing: 3px;
	line-height: 1.75em;
}